flow01.txt
[{"id":"3e77d543.c1882a","type":"ibmiot in","z":"a7b44df6.9c93","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":251,"y":291,"wires":[["ae0082ac.51ff8","c0c482df.3f3b8"]]},{"id":"ae0082ac.51ff8","type":"function","z":"a7b44df6.9c93","name":"温度","func":"return {payload:msg.payload.d.temp};","outputs":1,"noerr":0,"x":424.5,"y":337,"wires":[["ff6ad0d9.00953","a9a5860e.ce8328"]]},{"id":"ff6ad0d9.00953","type":"switch","z":"a7b44df6.9c93","name":"閾値検査","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"str"},{"t":"gt","v":"40","vt":"str"}],"checkall":"true","outputs":2,"x":580.5,"y":337,"wires":[["80621eff.7f9de"],["8e1706a.f71e8f8"]]},{"id":"5dad02b7.a252fc","type":"debug","z":"a7b44df6.9c93","name":"cpu status","active":true,"complete":"false","x":901.5,"y":334,"wires":[]},{"id":"c0c482df.3f3b8","type":"debug","z":"a7b44df6.9c93","name":"device data","active":true,"console":"false","complete":"true","x":441.5,"y":247,"wires":[]},{"id":"80621eff.7f9de","type":"template","z":"a7b44df6.9c93","name":"安全","field":"","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) within safe limits","x":754.5,"y":288,"wires":[["5dad02b7.a252fc"]]},{"id":"8e1706a.f71e8f8","type":"template","z":"a7b44df6.9c93","name":"危険","field":"","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) critical","x":743.5,"y":382,"wires":[["5dad02b7.a252fc"]]},{"id":"a9a5860e.ce8328","type":"debug","z":"a7b44df6.9c93","name":"","active":true,"console":"false","complete":"false","x":910.5,"y":486,"wires":[]}]